/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

/* @font-face {
	font-family: Gilbert, sans-serif;
	src: url(../assets/gilbert-color.otf);
	font-weight: 700;
}

.wp-block-create-block-europeanmigration-visuallinkpreview-wordpress {
	font-family: Gilbert, sans-serif;
	font-size: 64px;
} */

* {
  /* CSS HEX */
  /* --international-orange-golden-gate-bridge: #bb4430ff;
  --oxford-blue: #012951ff;
  --middle-blue: #7ebdc2ff;
  --medium-champagne: #f3dfa2ff; */
  --accent-color: #FD9E02;
  --accent-color-dark: #FB8500;
  --accent-color-light: #FFB703;
  --accent-color-extralight: #FFB7037F;

  --primary-color: #126782;
  --primary-color-dark: #023047;
  --primary-color-light: #219EBC;
}

.wp-block-create-block-europeanmigration-visuallinkpreview-wordpress .newspaper-name a {
  background-color: var(--accent-color-dark);
  color: white;
  padding: 8px;
}

.newspaper-name {
  margin-top: 3px;
}

.columns-container {
  display: flex;
  flex-wrap: wrap;
}

.column {
  box-sizing: border-box;
}

.right-color-box-container {
  display: none;
  margin-left: 2%;
}

.left-color-box-container {
  margin-right: 2%;
}

.color-box-container {
  flex: 0 23%;
  background-color: #126782;
  transition: .3s;
}

.color-box-container:hover {
  background-color: var(--accent-color-dark);
  transition: .3s;
}

.article-data-container {
  flex: 0 75%;
}

.article-data-container .title {

}

.newspaper-date p {
  color: dimgrey;
  margin-bottom: 0 !important;
}

.newspaper-title h1 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.wp-block-create-block-europeanmigration-visuallinkpreview-wordpress:nth-of-type(odd) .left-color-box-container {
  display: none;
}

.wp-block-create-block-europeanmigration-visuallinkpreview-wordpress:nth-of-type(even) .right-color-box-container {
  display: none;
}